services:
  minio:
    image: {{ minio_image }}
    container_name: minio
    restart: unless-stopped
    network_mode: host

    env_file:
      - .env

    volumes:
      - {{ minio_data_dir }}/data1:/data1
      - {{ minio_data_dir }}/data2:/data2

    command: >
      server
      --address "0.0.0.0:9000"
      --console-address "0.0.0.0:9001"
      http://{{ vm1_ip }}/data1 http://{{ vm1_ip }}/data2
      http://{{ vm2_ip }}/data1 http://{{ vm2_ip }}/data2
      http://{{ vm3_ip }}/data1 http://{{ vm3_ip }}/data2

    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  keepalived:
    image: {{ keepalived_image }}
    container_name: keepalived
    restart: unless-stopped
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
      - SYS_TIME
      - SYS_RESOURCE
    volumes:
      - {{ keepalived_config_dir }}/keepalived.conf:/etc/keepalived/keepalived.conf:ro
      - {{ keepalived_config_dir }}/check_minio.sh:/etc/keepalived/check_minio.sh:ro
    command: ["/usr/sbin/keepalived", "-n", "-l", "-D", "-f", "/etc/keepalived/keepalived.conf"]
